<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control"
      [(ngModel)]="userSettings.name" required #nameField="ngModel"
      [class.field.error]="form.submitted && nameField.invalid"
      (blur)="onBlur(nameField)"/>
      <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">Enter a name</div>
    </div>

    <button type="button" class="btn btn-primary" name="singleModel"
      [(ngModel)]="singleModel" btnCheckbox
      btnCheckboxTrue="On" btnCheckboxFalse="off">
      {{ singleModel }}
    </button>

    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="text"
        placeholder="Start Date"
        class="form-control"
        [(ngModel)]="startDate" name="startDate" id="startDate"
        bsDatepicker>
    </div>

    Start Date: {{ startDate }}

    <div class="form-group">
      User Rating
      <rating [(ngModel)]="userRating" [max]="maxRating" [readonly]="isReadonly"
        name="userrating" id="userRating"
        [titles]="['one','two','three']"></rating>
    </div>
    User Rating: {{ userRating }}

    <div class="form-check form-group">
      <input class="form-check-input" type="checkbox" id="emailoffers" name="emailoffers" [(ngModel)]="userSettings.emailoffers">
      <label class="form-check-label" for="emailoffers">
        Email special Offers
      </label>
    </div>
    <p>User Interface Style</p>
    <div class="form-group">
      <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle"
        btnRadio="Light" tabindex="0" role="button">Light</label>
      <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle"
        btnRadio="Medium" tabindex="0" role="button">Medium</label>
      <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle"
        btnRadio="Dark" tabindex="0" role="button">Dark</label>
    </div>
    <div class="form-group">
      <label for="subscriptionType">subscription Type</label>
      <select name="subscriptionType" id="subscriptionType" class="form-control" [(ngModel)]="userSettings.subscriptionType">
        <option *ngFor="let type of subscriptionTypes | async">
          {{ type }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea name="notes" id="notes" cols="30" rows="3" class="form-control" [(ngModel)]="userSettings.notes"></textarea>
    </div>
    <div [hidden]="!postError" class="alert alert-danger">
      {{ postErrorMessage }}
    </div>
    <button type="submit" class="btn btn-success">Send</button>
  </form>
</div>
